PORT=3001
HOST=0.0.0.0
NODE_ENV=production
BOT_TOKEN=
BOT_USERNAME=Danii_Catalogo_SCZ_bot
CHANNEL_ID=-1004356066811
ADMIN_TELEGRAM_IDS=
ADMIN_SIGNING_SECRET=
VIP_BRAND_NAME="IAM DANII VIP"
APP_BASE_URL=https://catalogo-vip-scz.onrender.com
B2_BUCKET_NAME=tu-vip18plus-eduvc71
B2_ENDPOINT=s3.us-east-005.backblazeb2.com
B2_KEY_ID=
B2_APPLICATION_KEY=
