PORT=3001
HOST=0.0.0.0
NODE_ENV=production
BOT_TOKEN=
BOT_USERNAME=IAM_Danii_VIP_bot
CHANNEL_ID=-1004356066811
ADMIN_TELEGRAM_IDS=
ADMIN_SIGNING_SECRET=
VIP_BRAND_NAME="IAM DANII VIP"
APP_BASE_URL=https://catalogo-vip-scz.onrender.com
